* {
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaMono Nerd Font", "Cascadia Mono", monospace;
  font-size: 11px;
  min-height: 0;
}

window#waybar {
  background-color: #000000;
  color: #ffffff;
}

#workspaces button {
  padding: 0 6px;
  color: #888888;
  background-color: transparent;
}

#workspaces button:hover {
  color: #ffffff;
}

#workspaces button.focused {
  color: #ffffff;
  background-color: #333333;
}

#workspaces button.urgent {
  color: #ffffff;
  background-color: #444444;
}

#network,
#custom-tailscale,
#battery,
#custom-battery-mah,
#cpu,
#temperature,
#memory,
#disk,
#backlight,
#pulseaudio,
#bluetooth,
#clock {
  padding: 0 8px;
  color: #ffffff;
  border-right: 1px solid #444444;
}

#network {
  border-left: 1px solid #444444;
}

#clock {
  border-right: none;
}

#custom-battery-mah {
  padding: 0 8px 0 8px;
}

#temperature {
  padding: 0 8px 0 8px;
}

#temperature.critical {
  color: #F7768E;
}
